<nav class="preheader">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="wrap-sosmed">
          <div class="nav-contact">
            <a href="/"><i class="fa fa-home fa-1x"></i></a>
            <a href="mailto:humas@blankon.id"><i class="fa fa-envelope fa-1x email-logo"></i>humas@blankon.id</a>
          </div>
          <div class="social">
            <a target="_blank" href="https://www.facebook.com/blankon.linux/">
              <i class="fa fa-facebook"></i>
            </a>
            <a target="_blank" href="https://twitter.com/blankonlinux">
              <i class="fa fa-twitter"></i>
            </a>
            <a target="_blank" href="https://www.youtube.com/">
              <i class="fa fa-youtube"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/blankonlinux/">
              <i class="fa fa-instagram"></i>
            </a>
            <a target="_blank" href="https://groups.google.com/">
              <i class="fa fa-google"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>