---
layout: default
title: BlankOn - Blog
---

<div class="header parallax home-parallax page">
  <div class="container">
    <div class="title-jumbo-post">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</div>

<div class="container">

  <div class="info-post">
    <div>
      {{ page.date | date_to_string }} | {{ page.author }}
    </div>
  </div>

  <div class="isi-post">
    {{ content }}
  </div>

  <hr>
  <div class="info2-post">
    <p>Categories : {{ page.categories }}</p>
    <p>Tags : {{ page.tags }}</p>
  </div>
</div>
